nav{
	background-color: #d39e00;
}

h5{
	font-family: cursive;
}

h3 {
	color: purple;
	font-family: cursive;
}

p {
	font-family: cursive;
}

.alert {
	background-color: #d39e00;
	margin: 0;
	text-align: center;
}

.carouselImage {
	height: 35rem;
}